# Vim Swap Files
*.swp

# MAINDEC paper tapes
fixtures/maindec*.bin
fixtures/maindec*-pt

# DEC paper tapes
fixtures/dec*.rim

# MAINDEC docs
docs/maindec*.pdf

# DEC docs
docs/dec*.pdf

# TODO: Perhaps put this in bin/
/downloaddocs
/downloadfixtures
